{% extends "base.html" %}

{% block content %}
<h1>Отзывы на фильмы</h1>
<div class="form-group btn btn-info">
    <label for="sort_option">Отсортировать отзывы</label>
    <select class="form-control" id="sort_option" name="sort_option" onchange="if (this.value) top.location.href=this.value;">
        <option value="/">По дате публикации</option>

        {% if sort_option == 'by_rating'%}
            <option value="/index/by_rating" selected="selected">По рейтингу</option>
        {% else%}
            <option value="/index/by_rating">По рейтингу</option>
        {% endif %}

        {% if sort_option == 'cartoon'%}
            <option value="/index/cartoon" selected="selected">Мультфильм</option>
        {% else%}
            <option value="/index/cartoon">Мультфильм</option>
        {% endif %}

        {% if sort_option == 'fantastic'%}
            <option value="/index/fantastic" selected="selected">Фантастика</option>
        {% else%}
            <option value="/index/fantastic">Фантастика</option>
        {% endif %}

        {% if sort_option == 'action_movie'%}
            <option value="/index/action_movie" selected="selected">Боевик</option>
        {% else%}
            <option value="/index/action_movie">Боевик</option>
        {% endif %}

        {% if sort_option == 'comedy'%}
            <option value="/index/comedy" selected="selected">Комедия</option>
        {% else%}
            <option value="/index/comedy">Комедия</option>
        {% endif %}

        {% if sort_option == 'adventures'%}
            <option value="/index/adventures" selected="selected">Приключения</option>
        {% else%}
            <option value="/index/adventures">Приключения</option>
        {% endif %}

        {% if sort_option == 'family'%}
            <option value="/index/family" selected="selected">Семейный</option>
        {% else%}
            <option value="/index/family">Семейный</option>
        {% endif %}

        {% if sort_option == 'detective'%}
            <option value="/index/detective" selected="selected">Детектив</option>
        {% else%}
            <option value="/index/detective">Детектив</option>
        {% endif %}

        {% if sort_option == 'drama'%}
            <option value="/index/drama" selected="selected">Драма</option>
        {% else%}
            <option value="/index/drama">Драма</option>
        {% endif %}

        {% if sort_option == 'melodrama'%}
            <option value="/index/melodrama" selected="selected">Мелодрама</option>
        {% else%}
            <option value="/index/melodrama">Мелодрама</option>
        {% endif %}

        {% if sort_option == 'horror'%}
            <option value="/index/horror" selected="selected">Ужасы</option>
        {% else%}
            <option value="/index/horror">Ужасы</option>
        {% endif %}
    </select>
</div>
{% for item in reviews%}
    <div class="col-md6 border rounded" style="margin-top: 10px; margin-bottom: 10px;">
        <h2 style="margin-left: 5px;"><a href="/movie_info/{{item.title}}" style="color: black;"> {{item.title}} </a></h2>
        <div style="margin-left: 5px;">
            {{item.content}}
        </div>
        <div class="rating-mini" style="margin-left: 5px;">
            {% for i in range(item.rating) %}
                <span class="active"></span>
            {% endfor %}
            {% for i in range(5 - item.rating) %}
                <span></span>
            {% endfor %}
        </div>
        <div style="margin-bottom: 5px; margin-left: 5px;">
            Жанры: {{item.genres}}
        </div>
        <div style="margin-bottom: 10px; margin-left: 5px;">
            Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
        </div>
        {% if current_user.is_authenticated and current_user == item.user %}
            <div style="margin-left: 5px; margin-bottom: 5px;">
                <a href="/reviews/index/{{ item.id }}" class="btn btn-warning" style="margin-left: 5px;">
                    Изменить
                </a>
                <a href="/reviews_delete/index/{{ item.id }}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}